.header {
    background-color: #fff;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    z-index: 101;
    font-size: 15px;
    text-align: center;
    background: rgba(246, 246, 248, 0.9) none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    .navbar {
        .mr-auto.navbar-nav {
            margin-left: 50px;
        }
        .cart-right {
            position: relative;
            .badge {
                border-radius: 50%;
                color: #ffffff;
                display: block;
                font-size: 14px;
                height: 20px;
                line-height: 12px;
                position: absolute;
                right: -5px;
                text-align: center;
                top: -5px;
                width: 20px;
            }
        }
    }
}