.header {
    background-color: #fff;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    z-index: 101;
    font-size: 15px;
    text-align: center;
    .navbar {
        .mr-auto.navbar-nav {
            margin-left: 50px;
        }
    }
}