.product-height {
  height: 415px; }
  .product-height .product {
    position: relative;
    overflow: hidden; }
    .product-height .product .product-inner {
      position: relative; }
      .product-height .product .product-inner .pro-thumb img {
        width: 100%; }
      .product-height .product .product-inner .add-to-cart-button {
        bottom: 12px;
        position: absolute;
        right: 0px;
        opacity: 0;
        transition: all 0.5s ease 0s;
        background: rgba(255, 255, 255, 0.85);
        padding: 5px;
        color: rgba(78, 89, 93, 0.7); }
      .product-height .product .product-inner .few-left-overlay {
        position: absolute;
        top: 0;
        right: 0;
        background: url("/assets/images/few-left.png");
        background-size: 57px 42px;
        background-repeat: no-repeat;
        width: 55px;
        height: 55px;
        font-size: 10px;
        font-weight: 700;
        line-height: 1.1;
        padding: 8px 11px 5px 17px;
        text-transform: uppercase;
        text-align: right;
        color: rgba(78, 89, 93, 0.7); }
      .product-height .product .product-inner .sold-out-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        overflow: hidden; }
        .product-height .product .product-inner .sold-out-overlay .sold-out-text {
          position: relative;
          color: #fff;
          font-size: 1.75rem;
          font-weight: 400;
          text-transform: uppercase;
          margin-top: 45%; }
      .product-height .product .product-inner:hover .add-to-cart-button {
        opacity: 1;
        right: 12px; }
    .product-height .product .product-details {
      padding-top: 25px; }
      .product-height .product .product-details h2 {
        color: #444444;
        font-size: 15px;
        font-weight: 600;
        color: #1293fe; }
        .product-height .product .product-details h2 a {
          text-decoration: none; }
          .product-height .product .product-details h2 a:hover {
            color: #1293fe; }
      .product-height .product .product-details .product-price {
        display: flex;
        margin: 0;
        margin-top: 9px;
        padding: 0; }
        .product-height .product .product-details .product-price li {
          color: #1293fe;
          font-size: 16px; }
        .product-height .product .product-details .product-price .old-price {
          padding-right: 12px;
          color: #9c9b9b;
          text-decoration: line-through; }
        .product-height .product .product-details .product-price .new-price {
          padding-left: 0px; }
    .product-height .product:hover .product-to-info {
      opacity: 1;
      top: 50%; }
