$primary-color: #1293fe;

.home {
    padding-top: 70px;
  
    .feature {
        position: relative;
        .feature-thumb {
            a {
                display: block;
                img {
                    width: 100%;
                }
            }
        }
        .feature-details {
            bottom: 40px;
            left: 40px;
            position: absolute;
            h4 {
                color: #000;
                font-size: 22px;
                text-transform: capitalize;
            }
            .feature-btn {
                margin-top: 7px;
            }
        }
        .wrap-comming-soon {
            background-color: #333;
            opacity: 0.9;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1000;
            width: 100%;
            height: 100%;
        }
    }
    .best-seller {
        padding-bottom: 40px;
        margin-top: 24px;
        .title {
            h2 {
                color: #303030;
                font-size: 30px;
                line-height: 30px;
            }
        }
        .new-product {
            position: relative;
            img {
                width: 100%;
                height: 300px;
            }
            .details {
                margin-top: 10px;
                span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 2;
                    color: #333;
                }
            }
            &:hover {
                .details span {
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }
    .btn-shop-now {
        color: #3a3a3a;
        font-size: 16px;
        font-weight: 500;
        padding-right: 30px;
        position: relative;
        text-transform: uppercase;
        transition: all 0.5s ease 0s;
        text-decoration: none;
        &:hover {
            color: $primary-color;
            &:before {
                background: $primary-color none repeat scroll 0 0;
                width: 25px;  
            }
        }
        
        &:before {
            background: #000 none repeat scroll 0 0;
            content: "";
            height: 1px;
            position: absolute;
            right: 0;
            top: 50%;
            transition: all 0.5s ease 0s;
            width: 20px;
        }
    }
    .best-product {
        h2 {
            font-size: 30px;
        }
        @media (max-width :767px) {
            width: 300px;
        }
        .products-carousel {
            position: relative;
            .wrap-carousel {
                display: flex;
                flex-wrap: nowrap;
                overflow: hidden;
            }
            %common {
                position: absolute;
                opacity: 0.5;
                &:hover {
                    color: $primary-color; 
                    opacity: 1;
                }
            }
            .arrow-left {
                top: 165px;
                left: -40px;
                @extend %common;
            }
            .arrow-right {
                top: 165px;
                right: -40px;
                @extend %common;
            }
        }
    }
}