.home {
    padding-top: 50px;
  
    .feature {
        position: relative;
        .feature-thumb {
            a {
                display: block;
                img {
                    width: 100%;
                }
            }
        }
        .feature-details {
            bottom: 40px;
            left: 40px;
            position: absolute;
            h4 {
                color: #000;
                font-size: 22px;
                text-transform: capitalize;
            }
            .feature-btn {
                margin-top: 7px;
            }
        }
    }
    .best-seller {
        padding-bottom: 40px;
        margin-top: 24px;
        .title {
            h2 {
                color: #303030;
                font-size: 30px;
                line-height: 30px;
            }
        }
        .new-product {
            position: relative;
            img {
                width: 100%;
            }
        }
        .new-product-details {
            left: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            h2 {
                font-size: 22px;
                text-transform: capitalize;
            }
            .new-product-btn {
                margin-top: 8px;
                text-align: center;
            }
        }
    }
    .btn-shop-now {
        color: #3a3a3a;
        font-size: 16px;
        font-weight: 500;
        padding-right: 30px;
        position: relative;
        text-transform: uppercase;
        transition: all 0.5s ease 0s;
        text-decoration: none;
        &:hover {
            color: #1293fe;
            &:before {
            background: #1293fe none repeat scroll 0 0;
            width: 25px;  
            }
        }
        
        &:before {
            background: #000 none repeat scroll 0 0;
            content: "";
            height: 1px;
            position: absolute;
            right: 0;
            top: 50%;
            transition: all 0.5s ease 0s;
            width: 20px;
        }
    }
    .best-product {
        .product-height {
            height: 415px;
            .product {
                position: relative;
                overflow: hidden;
                .product-inner {
                    position: relative;
                    .pro-thumb img {
                        width: 100%;
                    }
                    .add-to-cart {
                        bottom: 12px;
                        position: absolute;
                        right: 12px;
                    }
                }
                .product-details {
                    padding-top: 27px;
                    h2 {
                        color: #444444;
                        font-size: 15px;
                        font-weight: 600;
                    }
                    .product-price {
                        display: flex;
                        margin: 0;
                        margin-top: 9px;
                        padding: 0;
                        li {
                            color: #1293fe;
                            font-size: 16px;
                        }
                        .new-price {
                            padding-left: 0px;
                        }
                    }
                }
            }
            
        }
        // }
        @media (max-width :767px) {
            width: 300px;
        }
    }
}