.home {
  padding-top: 70px; }
  .home .feature {
    position: relative; }
    .home .feature .feature-thumb a {
      display: block; }
      .home .feature .feature-thumb a img {
        width: 100%; }
    .home .feature .feature-details {
      bottom: 40px;
      left: 40px;
      position: absolute; }
      .home .feature .feature-details h4 {
        color: #000;
        font-size: 22px;
        text-transform: capitalize; }
      .home .feature .feature-details .feature-btn {
        margin-top: 7px; }
    .home .feature .wrap-comming-soon {
      background-color: #333;
      opacity: 0.9;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      height: 100%; }
  .home .best-seller {
    padding-bottom: 40px;
    margin-top: 24px; }
    .home .best-seller .title h2 {
      color: #303030;
      font-size: 30px;
      line-height: 30px; }
    .home .best-seller .new-product {
      position: relative; }
      .home .best-seller .new-product img {
        width: 100%;
        height: 300px; }
      .home .best-seller .new-product .details {
        margin-top: 10px; }
        .home .best-seller .new-product .details span {
          font-size: 16px;
          font-weight: 500;
          line-height: 2;
          color: #333; }
      .home .best-seller .new-product:hover .details span {
        color: #1293fe;
        cursor: pointer; }
  .home .btn-shop-now {
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 500;
    padding-right: 30px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    text-decoration: none; }
    .home .btn-shop-now:hover {
      color: #1293fe; }
      .home .btn-shop-now:hover:before {
        background: #1293fe none repeat scroll 0 0;
        width: 25px; }
    .home .btn-shop-now:before {
      background: #000 none repeat scroll 0 0;
      content: "";
      height: 1px;
      position: absolute;
      right: 0;
      top: 50%;
      transition: all 0.5s ease 0s;
      width: 20px; }
  .home .best-product h2 {
    font-size: 30px; }
  @media (max-width: 767px) {
    .home .best-product {
      width: 300px; } }
