.product-list {
  padding-top: 100px; }
  .product-list .shop-cart {
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 57px;
    padding-bottom: 32px; }
    .product-list .shop-cart h4 {
      font-size: 18px;
      margin-bottom: 25px;
      text-transform: uppercase; }
    .product-list .shop-cart .side-list {
      list-style: none;
      padding-left: 0; }
      .product-list .shop-cart .side-list li {
        color: #575757;
        font-size: 14px;
        font-weight: 300;
        line-height: 34px;
        text-transform: capitalize; }
  .product-list .breadcrum li {
    display: inline-block;
    margin-right: 10px;
    text-transform: capitalize;
    color: #343434; }
    .product-list .breadcrum li a:after {
      color: #343434;
      content: "/";
      font-size: 14px;
      margin-left: 10px; }
    .product-list .breadcrum li span {
      opacity: 0.6; }
