.product-details {
  padding-top: 100px; }
  .product-details .product-detail-left .product-small-image {
    margin-top: -13px;
    padding-right: 10px;
    width: 20%; }
    .product-details .product-detail-left .product-small-image .pot-small-img {
      margin-top: 13px; }
  .product-details .product-detail-left .product-big-image {
    width: 80%; }
    .product-details .product-detail-left .product-big-image .fade.in {
      opacity: 1; }
  .product-details .product-detail-right .title h2 {
    color: #444444;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize; }
  .product-details .product-detail-right .detail p {
    color: #666666;
    font-size: 14px;
    line-height: 26px; }
  .product-details .product-detail-right .price {
    display: flex;
    margin-bottom: 35px;
    margin-top: 30px; }
    .product-details .product-detail-right .price li {
      color: #1293fe;
      font-size: 30px; }
    .product-details .product-detail-right .price .old {
      color: #4d4d4d;
      font-size: 22px;
      padding-right: 15px;
      text-decoration: line-through; }
  .product-details .product-detail-right .quantity {
    align-items: center;
    display: flex;
    margin-bottom: 33px; }
    .product-details .product-detail-right .quantity .title {
      padding-right: 20px; }
      .product-details .product-detail-right .quantity .title span {
        color: #666666;
        font-size: 18px;
        text-transform: capitalize; }
    .product-details .product-detail-right .quantity .cart-plus-minus {
      display: flex;
      position: relative; }
      .product-details .product-detail-right .quantity .cart-plus-minus-box {
        padding: 0 20px;
        text-align: center;
        background: transparent;
        border: 0 none;
        max-width: 82px;
        outline: none; }
      .product-details .product-detail-right .quantity .cart-plus-minus .button, .product-details .product-detail-right .quantity .cart-plus-minus .dec, .product-details .product-detail-right .quantity .cart-plus-minus .inc {
        color: #666666;
        font-size: 16px;
        cursor: pointer; }
      .product-details .product-detail-right .quantity .cart-plus-minus .dec {
        left: 0;
        position: absolute; }
      .product-details .product-detail-right .quantity .cart-plus-minus .inc {
        position: absolute;
        right: 0; }
  .product-details .product-detail-right .btn-checkout {
    color: #fff;
    background-color: #1293fe;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 100%;
    border-color: #1293fe;
    display: block;
    height: 44px;
    line-height: 44px;
    text-align: center; }
    .product-details .product-detail-right .btn-checkout:hover {
      background-color: #34a2fe;
      border-color: #34a2fe;
      color: #fff; }
    .product-details .product-detail-right .btn-checkout:active {
      background-color: #0182ed;
      border-color: #0182ed;
      color: #fff; }
  .product-details .title h2 {
    font-size: 30px; }
