.shopping-cart {
  background: #eeeeee none repeat scroll 0 0;
  box-shadow: 0 0 85px rgba(0, 0, 0, 0.2);
  display: block;
  height: 100vh;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  right: -100%;
  top: 0;
  transition: all 0.25s ease 0s;
  width: 100%;
  z-index: 99999;
  width: 475px; }
  .shopping-cart.open {
    opacity: 1;
    padding-bottom: 50px;
    right: calc(0px - 16px); }
  .shopping-cart .inner {
    padding: 102px 50px;
    height: 100%; }
    .shopping-cart .inner .close-button {
      background-color: #eee;
      padding: 29px 50px 24px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      padding: 21px 50px 24px; }
      .shopping-cart .inner .close-button a {
        cursor: pointer; }
        .shopping-cart .inner .close-button a:hover {
          color: #1293fe; }
    .shopping-cart .inner .cart-empty-title {
      display: block; }
      .shopping-cart .inner .cart-empty-title h2 {
        color: #000000;
        font-size: 20px;
        font-weight: 400; }
    .shopping-cart .inner .cart-wrap {
      margin-top: -30px; }
      .shopping-cart .inner .cart-wrap li {
        border-bottom: 1px solid #dddddd; }
        .shopping-cart .inner .cart-wrap li .single-product {
          display: flex;
          justify-content: space-between;
          padding-bottom: 21px;
          padding-top: 21px; }
          .shopping-cart .inner .cart-wrap li .single-product .thumb {
            margin-right: 20px; }
            .shopping-cart .inner .cart-wrap li .single-product .thumb a {
              display: block; }
              .shopping-cart .inner .cart-wrap li .single-product .thumb a img {
                max-width: 60px; }
          .shopping-cart .inner .cart-wrap li .single-product .details {
            min-width: 71%; }
            .shopping-cart .inner .cart-wrap li .single-product .details h2 {
              border-top-width: 0;
              color: #000;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.4;
              padding: 0;
              text-transform: none; }
            .shopping-cart .inner .cart-wrap li .single-product .details span {
              color: #1293fe; }
          .shopping-cart .inner .cart-wrap li .single-product .remove {
            text-align: right;
            width: 20px;
            opacity: 0.5; }
    .shopping-cart .inner .cart-total {
      display: flex;
      justify-content: space-between;
      padding: 22px 0; }
      .shopping-cart .inner .cart-total span {
        font-size: 20px;
        font-weight: 500; }
    .shopping-cart .inner .cart-btn .btn-checkout {
      color: #fff;
      background-color: #1293fe;
      font-size: 14px;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;
      width: 100%;
      border-color: #1293fe;
      display: block;
      height: 44px;
      line-height: 44px;
      text-align: center; }
      .shopping-cart .inner .cart-btn .btn-checkout:hover {
        background-color: #34a2fe;
        border-color: #34a2fe;
        color: #fff; }
      .shopping-cart .inner .cart-btn .btn-checkout:active {
        background-color: #0182ed;
        border-color: #0182ed;
        color: #fff; }
