$primary-color: #1293fe;
$hover-color: #34a2fe;
$active-color: #0182ed;

.shopping-cart {
    background: #eeeeee none repeat scroll 0 0;
    box-shadow: 0 0 85px rgba(0, 0, 0, 0.2);
    display: block;
    height: 100vh;
    opacity: 0;
    overflow-y: scroll;
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.25s ease 0s;
    z-index: 99999;
    width: 475px;
    &.open {
        opacity: 1;
        padding-bottom: 50px;
        right: calc(0px - 16px);
        @media (max-width: 576px) {
            right: 0;
            width: 100%;
        }
    }
    .inner {
        padding: 102px 50px;
        height: 100%;
        .close-button {
            background-color: #eee;
            opacity: 0.6;
            padding: 29px 50px 24px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;
            padding: 21px 42px 24px;
            a {
                cursor: pointer;
                &:hover {
                    color: $primary-color;
                }
            }
            @media (max-width: 576px) {
                padding: 10px 15px;
            }
        }
        .cart-empty-title {
            display: block;
            h2 {
                color: #000000;
                font-size: 20px;
                font-weight: 400;
            }
        }
        .cart-wrap {
            margin-top: -30px;
            li {
                border-bottom: 1px solid #dddddd;
                .single-product {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 21px;
                    padding-top: 21px;
                    .thumb {
                        margin-right: 20px;
                        a {
                            display: block;
                            img {
                                max-width: 100px;
                            }
                        }
                    }
                    .details {
                        min-width: 63%;
                        h2 {
                            border-top-width: 0;
                            color: #000;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.4;
                            padding: 0;
                            text-transform: none;
                        }
                        span {
                            color: $primary-color;
                        }
                        @media (max-width: 576px) {
                            min-width: 50%;
                            .select-quantity {
                                width: 50% !important;
                            }
                        }
                    }
                    .remove {
                        text-align: right;
                        width: 20px;
                        opacity: 0.5;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .cart-total {
            display: flex;
            justify-content: space-between;
            padding: 22px 0;
            span {
                font-size: 20px;
                font-weight: 500;
            }
        }
        .cart-btn {
            margin-bottom: 50px;
            .btn-checkout {
                color: #fff;
                background-color: $primary-color;
                font-size: 14px;
                text-transform: uppercase;
                transition: all 0.3s ease 0s;
                width: 100%;
                border-color: $primary-color;
                display: block;
                height: 44px;
                line-height: 44px;
                text-align: center;
                &:hover {
                    background-color: $hover-color;
                    border-color: $hover-color;
                    color: #fff;
                }
                &:active {
                    background-color: $active-color;
                    border-color: $active-color;
                    color: #fff;
                }
            }
        }
        @media (max-width: 576px) {
            padding: 102px 20px;
        }
    }

    @media (max-width: 576px) {
        right: 120%;
    }
}
